```
service mongod start
service mongod restart

service mongod stop

service mongod status
```

In [1]:
import pendulum
from typing import List, Dict
import json
from tqdm import tqdm

import os
import datetime
from pymongo import MongoClient
from dotenv import load_dotenv
import pymongo
import requests
import time

print(pymongo.__version__)

load_dotenv('../.env_real')
client = MongoClient()

4.1.1

In [2]:
user = os.getenv("MONGODB_USER") 
pwd = os.getenv("MONGODB_PWD") 
client = MongoClient(f'mongodb://{user}:{pwd}@127.0.0.1:27018')
# client = MongoClient(f'mongodb://127.0.0.1:27018')

In [3]:
client.drop_database('index_check')
display(client.list_database_names())

['admin', 'config', 'local']

## Duplication check

In [4]:
db = client.index_check

sample_data = []
for i in range(5, 0, -1):
    sample_data.append(dict(date=datetime.datetime(2022,7,i), data=i))

new_sample_data = []
for i in range(10,3, -1):
    new_sample_data.append(dict(date=datetime.datetime(2022,7,i), data=i))
    
sample_collection = db.sample_collection
sample_collection.insert_many(sample_data)
sample_collection.create_index('date')

found = sample_collection.find({})
for doc in found:
    print(doc)

{'_id': ObjectId('62d96745d77c7067e1fc3ff3'), 'date': datetime.datetime(2022, 7, 5, 0, 0), 'data': 5}
{'_id': ObjectId('62d96745d77c7067e1fc3ff4'), 'date': datetime.datetime(2022, 7, 4, 0, 0), 'data': 4}
{'_id': ObjectId('62d96745d77c7067e1fc3ff5'), 'date': datetime.datetime(2022, 7, 3, 0, 0), 'data': 3}
{'_id': ObjectId('62d96745d77c7067e1fc3ff6'), 'date': datetime.datetime(2022, 7, 2, 0, 0), 'data': 2}
{'_id': ObjectId('62d96745d77c7067e1fc3ff7'), 'date': datetime.datetime(2022, 7, 1, 0, 0), 'data': 1}

In [5]:
try:
    sample_collection.insert_many(new_sample_data, ordered=False)
except Exception as e:
    print(e)

In [6]:
found = sample_collection.aggregate([{'$group': {'_id':'$data', 
                                         'count': {'$sum': 1}}}, 
                             {'$match': {'count': {'$gt': 1}}}])

for doc in found:
    print(doc)

{'_id': 4, 'count': 2}
{'_id': 5, 'count': 2}

## Index when Unique True with descending time stamp datas

In [7]:
client.drop_database('index_check')
display(client.list_database_names())

['admin', 'config', 'local']

In [8]:
print(pymongo.DESCENDING,pymongo.ASCENDING)

-1 1

In [9]:
db = client.index_check

sample_data = []
for i in range(5, 0, -1):
    sample_data.append(dict(date=datetime.datetime(2022,7,i), data=i))

new_sample_data = []
for i in range(10,3, -1):
    new_sample_data.append(dict(date=datetime.datetime(2022,7,i), data=i))
    
sample_collection = db.sample_collection
sample_collection.insert_many(sample_data)
##########
sample_collection.create_index([('date',1)],
                               unique=True)
##########

'date_1'

In [10]:
try:
    sample_collection.insert_many(new_sample_data, ordered=False)
except Exception as e:
    print(e)

batch op errors occurred, full error: {'writeErrors': [{'index': 5, 'code': 11000, 'keyPattern': {'date': 1}, 'keyValue': {'date': datetime.datetime(2022, 7, 5, 0, 0)}, 'errmsg': 'E11000 duplicate key error collection: index_check.sample_collection index: date_1 dup key: { date: new Date(1656979200000) }', 'op': {'date': datetime.datetime(2022, 7, 5, 0, 0), 'data': 5, '_id': ObjectId('62d96745d77c7067e1fc4009')}}, {'index': 6, 'code': 11000, 'keyPattern': {'date': 1}, 'keyValue': {'date': datetime.datetime(2022, 7, 4, 0, 0)}, 'errmsg': 'E11000 duplicate key error collection: index_check.sample_collection index: date_1 dup key: { date: new Date(1656892800000) }', 'op': {'date': datetime.datetime(2022, 7, 4, 0, 0), 'data': 4, '_id': ObjectId('62d96745d77c7067e1fc400a')}}], 'writeConcernErrors': [], 'nInserted': 5, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [11]:
found = sample_collection.find({})
for doc in found:
    print(doc)

{'_id': ObjectId('62d96745d77c7067e1fc3fff'), 'date': datetime.datetime(2022, 7, 5, 0, 0), 'data': 5}
{'_id': ObjectId('62d96745d77c7067e1fc4000'), 'date': datetime.datetime(2022, 7, 4, 0, 0), 'data': 4}
{'_id': ObjectId('62d96745d77c7067e1fc4001'), 'date': datetime.datetime(2022, 7, 3, 0, 0), 'data': 3}
{'_id': ObjectId('62d96745d77c7067e1fc4002'), 'date': datetime.datetime(2022, 7, 2, 0, 0), 'data': 2}
{'_id': ObjectId('62d96745d77c7067e1fc4003'), 'date': datetime.datetime(2022, 7, 1, 0, 0), 'data': 1}
{'_id': ObjectId('62d96745d77c7067e1fc4004'), 'date': datetime.datetime(2022, 7, 10, 0, 0), 'data': 10}
{'_id': ObjectId('62d96745d77c7067e1fc4005'), 'date': datetime.datetime(2022, 7, 9, 0, 0), 'data': 9}
{'_id': ObjectId('62d96745d77c7067e1fc4006'), 'date': datetime.datetime(2022, 7, 8, 0, 0), 'data': 8}
{'_id': ObjectId('62d96745d77c7067e1fc4007'), 'date': datetime.datetime(2022, 7, 7, 0, 0), 'data': 7}
{'_id': ObjectId('62d96745d77c7067e1fc4008'), 'date': datetime.datetime(2022, 7, 6, 0, 0), 'data': 6}

## Index when Unique True with ascending time stamp datas

In [12]:
client.drop_database('index_check')
display(client.list_database_names())

['admin', 'config', 'local']

In [13]:
db = client.index_check

sample_data = []
for i in range(1, 6):
    sample_data.append(dict(date=datetime.datetime(2022,7,i), data=i))

new_sample_data = []
for i in range(3,10):
    new_sample_data.append(dict(date=datetime.datetime(2022,7,i), data=i))
    
sample_collection = db.sample_collection
sample_collection.insert_many(sample_data)
##########
sample_collection.create_index([('date',1)],
                               unique=True)
##########

'date_1'

In [14]:
try:
    sample_collection.insert_many(new_sample_data, ordered=False)
except Exception as e:
    print(e)

batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'date': 1}, 'keyValue': {'date': datetime.datetime(2022, 7, 3, 0, 0)}, 'errmsg': 'E11000 duplicate key error collection: index_check.sample_collection index: date_1 dup key: { date: new Date(1656806400000) }', 'op': {'date': datetime.datetime(2022, 7, 3, 0, 0), 'data': 3, '_id': ObjectId('62d96745d77c7067e1fc4010')}}, {'index': 1, 'code': 11000, 'keyPattern': {'date': 1}, 'keyValue': {'date': datetime.datetime(2022, 7, 4, 0, 0)}, 'errmsg': 'E11000 duplicate key error collection: index_check.sample_collection index: date_1 dup key: { date: new Date(1656892800000) }', 'op': {'date': datetime.datetime(2022, 7, 4, 0, 0), 'data': 4, '_id': ObjectId('62d96745d77c7067e1fc4011')}}, {'index': 2, 'code': 11000, 'keyPattern': {'date': 1}, 'keyValue': {'date': datetime.datetime(2022, 7, 5, 0, 0)}, 'errmsg': 'E11000 duplicate key error collection: index_check.sample_collection index: date_1 dup key: { date: new Date(1656979200000) }', 'op': {'date': datetime.datetime(2022, 7, 5, 0, 0), 'data': 5, '_id': ObjectId('62d96745d77c7067e1fc4012')}}], 'writeConcernErrors': [], 'nInserted': 4, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [15]:
found = sample_collection.find({})
for doc in found:
    print(doc)

{'_id': ObjectId('62d96745d77c7067e1fc400b'), 'date': datetime.datetime(2022, 7, 1, 0, 0), 'data': 1}
{'_id': ObjectId('62d96745d77c7067e1fc400c'), 'date': datetime.datetime(2022, 7, 2, 0, 0), 'data': 2}
{'_id': ObjectId('62d96745d77c7067e1fc400d'), 'date': datetime.datetime(2022, 7, 3, 0, 0), 'data': 3}
{'_id': ObjectId('62d96745d77c7067e1fc400e'), 'date': datetime.datetime(2022, 7, 4, 0, 0), 'data': 4}
{'_id': ObjectId('62d96745d77c7067e1fc400f'), 'date': datetime.datetime(2022, 7, 5, 0, 0), 'data': 5}
{'_id': ObjectId('62d96745d77c7067e1fc4013'), 'date': datetime.datetime(2022, 7, 6, 0, 0), 'data': 6}
{'_id': ObjectId('62d96745d77c7067e1fc4014'), 'date': datetime.datetime(2022, 7, 7, 0, 0), 'data': 7}
{'_id': ObjectId('62d96745d77c7067e1fc4015'), 'date': datetime.datetime(2022, 7, 8, 0, 0), 'data': 8}
{'_id': ObjectId('62d96745d77c7067e1fc4016'), 'date': datetime.datetime(2022, 7, 9, 0, 0), 'data': 9}

## Index time check

In [16]:

KST = pendulum.timezone("Asia/Seoul")
UTC_TIMEZONE = pendulum.timezone('UTC')

client.drop_database('index_check')
display(client.list_database_names())

# db = client.index_check

['admin', 'config', 'local']

In [17]:
def _get_minutes_ohlcvs(interval: int, ticker: str, to: pendulum.datetime, count: int) -> List[Dict]:
    """Get ohlcvs until datetime 'to'."""
    time.sleep(1)
    to = UTC_TIMEZONE.convert(to).strftime('%Y-%m-%d %H:%M:%S')
    url = f"https://api.upbit.com/v1/candles/minutes/{interval}?market={ticker}&to={to}&count={count}"
    headers = {"Accept": "application/json"}
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        print(to)
    response = json.loads(response.text)
    return response

In [18]:
import pandas as pd

In [19]:
req_times = pd.date_range(start='2021-01-01', end='2022-01-01')
req_times = list(req_times)

In [20]:
new_req_times = []

for t in req_times:
    new_req_times.append(pendulum.datetime(t.year, 
                                           t.month, 
                                           t.day, 9, 0, tz=KST))

In [21]:
# responses = []
# for req_time in tqdm(new_req_times):
#     responses.append(_get_minutes_ohlcvs(1, 'KRW-BTC', req_time, 180))

ConnectionError: HTTPSConnectionPool(host='api.upbit.com', port=443): Max retries exceeded with url: /v1/candles/minutes/1?market=KRW-BTC&to=2021-11-24%2000:00:00&count=180 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fbea70af250>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))

In [22]:
# os.makedirs('../data', exist_ok=True)
# output_path = '../data/sample_responses.json'
# with open(output_path, "w") as file_:
#     json.dump(responses, fp=file_)

In [23]:
output_path = '../data/sample_responses.json'
with open(output_path, 'r') as file_:
    responses = json.load(file_)

In [24]:
len(responses)

327

In [25]:
display(client.list_database_names())
db = client.index_check

['admin', 'config', 'local']

In [26]:
print(len(responses) * len(responses[0]))

58860

In [27]:
data_order = ['asc', 'desc']
index_order = [1, -1]
index_unique = [True, False]

In [28]:
asc_response = [res[::-1] for res in responses]
desc_responses = [res for res in responses]

### Insertion Time check

In [29]:
time_results = {}

test_time = 50

for d_order in data_order:
    for i_order in index_order:
        for is_unique in index_unique:
            for i in tqdm(range(test_time)):
                # create
                c_name = f"{d_order}_{i_order}_{is_unique}"
                db.create_collection(c_name)
                db[c_name].create_index(
                    [('candle_date_time_kst',i_order)], unique=is_unique
                )
                # set data
                if d_order == 'asc':
                    cur_data = asc_response
                else:
                    cur_data = desc_responses
                
                # start time
                start = time.time()
                for res in cur_data[:100]:
                    db[c_name].insert_many(res)
                # end time
                time_result =(time.time()-start)
                
                time_results[f'{c_name}_{i}'] = time_result
                
                db[c_name].drop()

100%|███████████████████████████████████████████████████| 50/50 [00:13<00:00,  3.75it/s]
100%|███████████████████████████████████████████████████| 50/50 [00:11<00:00,  4.46it/s]
100%|███████████████████████████████████████████████████| 50/50 [00:13<00:00,  3.73it/s]
100%|███████████████████████████████████████████████████| 50/50 [00:11<00:00,  4.42it/s]
100%|███████████████████████████████████████████████████| 50/50 [00:13<00:00,  3.76it/s]
100%|███████████████████████████████████████████████████| 50/50 [00:11<00:00,  4.34it/s]
100%|███████████████████████████████████████████████████| 50/50 [00:13<00:00,  3.67it/s]
100%|███████████████████████████████████████████████████| 50/50 [00:11<00:00,  4.46it/s]

In [30]:
c_name = 'no_index'
for i in tqdm(range(test_time)):
    
    start = time.time()
    db.create_collection(c_name)
    for res in responses[:100]:
        db[c_name].insert_many(res)
    
    db[c_name].drop()
    time_result =(time.time()-start)
    time_results[f'{c_name}_{i}'] = time_result

100%|███████████████████████████████████████████████████| 50/50 [00:09<00:00,  5.38it/s]

In [31]:
time_results_df = pd.DataFrame(time_results.items())
time_results_df.columns = ['condition', 'time']

In [32]:
def split_col(row):

    splitted = row['condition'].split('_')
    if len(splitted) == 3:
        return ['no_index', 'no_index', 'no_index', i]
    else:
        return splitted

time_results_df[['data','db_index', 'unique', 'trial_num']] = time_results_df.apply(lambda x: split_col(x), result_type='expand', axis=1)

time_results_df= time_results_df[['data','db_index', 'unique', 'trial_num', 'time']]

In [33]:
conditions = ['data','db_index', 'unique']

In [35]:
pd.DataFrame(time_results_df.groupby(conditions)['time'].mean())

                                time
data     db_index unique
asc      -1       False     0.158795
                  True      0.202066
         1        False     0.157260
                  True      0.199718
desc     -1       False     0.158003
                  True      0.206590
         1        False     0.162520
                  True      0.199934
no_index no_index no_index  0.185527

In [38]:
time_results_df.trial_num = time_results_df.trial_num.astype(int)

In [41]:
time_results_df.to_csv('../data/insertion_time_check.csv', index=False)

### query time check

- sort time
- query by condition

In [53]:
client.drop_database('index_check')
display(client.list_database_names())
db = client.index_check

['admin', 'config', 'local']

In [54]:
output_path = '../data/sample_responses.json'
with open(output_path, 'r') as file_:
    responses = json.load(file_)

In [55]:
data_order = ['asc', 'desc']
index_order = [1, -1]
index_unique = [True, False]

In [56]:
import datetime as dt

In [57]:
def json_strptime(
    json_dicts: List[Dict],
    dict_keys: List[str] = ["candle_date_time_utc", "candle_date_time_kst"],
):
    for key in dict_keys:
        for data in json_dicts:
            data.update({key: dt.datetime.strptime(data[key], "%Y-%m-%dT%H:%M:%S")})
    return json_dicts

responses = [json_strptime(res) for res in responses]

In [58]:
asc_response = [res[::-1] for res in responses]
desc_responses = [res for res in responses]

In [59]:

for d_order in data_order:
    for i_order in index_order:
        for is_unique in index_unique:

            # create
            c_name = f"{d_order}_{i_order}_{is_unique}"
            db.create_collection(c_name)
            db[c_name].create_index(
                [('candle_date_time_kst',i_order)], unique=is_unique
            )
            # set data
            if d_order == 'asc':
                cur_data = asc_response
            else:
                cur_data = desc_responses
            
            # insert
            for res in cur_data:
                db[c_name].insert_many(res)

In [60]:
c_name = 'no_index'
db.create_collection(c_name)

for res in cur_data:
    db[c_name].insert_many(res)

In [63]:
collection_names = db.list_collection_names()

In [64]:
collection_names

['asc_1_True',
 'desc_1_True',
 'desc_1_False',
 'asc_-1_True',
 'asc_1_False',
 'desc_-1_False',
 'desc_-1_True',
 'asc_-1_False',
 'no_index']

In [73]:
query_time = responses[int(len(responses)/2)][int(len(responses[0])/2)]['candle_date_time_kst']
query_time

datetime.datetime(2021, 6, 13, 7, 29)

In [78]:
time_results = {}

test_time = 50

for i in tqdm(range(test_time)):
    for c_name in collection_names:
        sample_collection = db[c_name]
        
        start = time.time()
        
        found_asc = sample_collection.find().sort("candle_date_time_kst", 1)
        found_asc = list(found_asc)
            
        ascending_time =(time.time()-start)
        
        start = time.time()
        found_desc = sample_collection.find().sort("candle_date_time_kst", 1)
        found_desc = list(found_desc)
        descending_time =(time.time()-start)
        
        start = time.time()
        found_condition = sample_collection.find({"candle_date_time_kst" : {"$gt": query_time}})
        found_condition = list(found_condition)
        condition_time =(time.time()-start)
        
        time_results[f"{c_name}_{i}"] = [ascending_time, descending_time, condition_time]

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [06:42<00:00,  8.05s/it]

In [85]:
time_results_df = pd.DataFrame(time_results.items())
time_results_df.columns = ['condition', 'times']
time_results_df[["ascending_time", "descending_time", "condition_time"]] = pd.DataFrame(time_results_df.times.to_list())

In [87]:
def split_col(row):

    splitted = row['condition'].split('_')
    if len(splitted) == 3:
        return ['no_index', 'no_index', 'no_index', i]
    else:
        return splitted

time_results_df[['data','db_index', 'unique', 'trial_num']] = time_results_df.apply(lambda x: split_col(x), result_type='expand', axis=1)

#time_results_df= time_results_df[['data','db_index', 'unique', 'trial_num', 'time']]

In [90]:
time_results_df = time_results_df[['data','db_index', 'unique', 'trial_num', "ascending_time", "descending_time", "condition_time"]]

In [93]:
conditions = ['data','db_index', 'unique']
times = ["ascending_time", "descending_time", "condition_time"]

time_results_df.groupby(conditions)[times].apply("mean")

                            ascending_time  descending_time  condition_time
data     db_index unique
asc      -1       False           0.411400         0.425654        0.097335
                  True            0.393299         0.408362        0.098144
         1        False           0.394798         0.405215        0.095730
                  True            0.432523         0.198240        0.329516
desc     -1       False           0.402624         0.411440        0.096283
                  True            0.408805         0.420011        0.097763
         1        False           0.381208         0.403103        0.101050
                  True            0.202709         0.405812        0.115445
no_index no_index no_index        0.412066         0.186732        0.314365

In [94]:
print(pymongo.ASCENDING, pymongo.DESCENDING)

1 -1

In [95]:
time_results_df.to_csv('../data/query_time_check.csv', index=False)

## More Informations

- https://github.com/wnghdcjfe/csnote/blob/main/mongodb/mongo_index.js
- https://stackoverflow.com/questions/36939482/pymongo-create-index-only-if-it-does-not-exist

- Time Series Collection
    - https://www.mongodb.com/docs/manual/core/timeseries-collections/
    - https://hello-world.kr/m/45